{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>订单</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="__CSS_PATH__/iconfont1.css" rel="stylesheet" />
    <link href="__CSS_PATH__/common1.css" rel="stylesheet" />
    <link href="__CSS_PATH__/uc1.css" rel="stylesheet" />
</head>

<body>
    <!--头部-->
    <div class="uc-header-bg">
        <div class="uc-header wrapper">
            <a class="logo" href="index"><img src="__PICTURE_PATH__/logo2.png" alt="" /></a>
            <div class="back-home"><a href="tobe">申请成为商家</a></div>
            <ul class="uc-nav">
                <li><a href="index">首页</a></li>
                <li class="toggle">
                    <span class="label">账户设置<i class="iconfont"></i></span>
                    <div class="toggle-cont">
                        <a href="account">个人信息</a>
                        <a href="safe">安全设置</a>
                        <a href="address">收货地址</a>
                    </div>
                </li>
                <!-- <li><a href="msg">消息中心</a></li> -->
                {if null !== ($Request.session.username)}
                <li>{$Request.session.username}</li>
                <li><a href="logout">退出</a></li>
                {/if}
            </ul>
            <div class="schbox">
                <form action="">
                    <input class="search-txt" type="text" />
                    <button class="search-btn">搜索</button>
                    <div class="suggest-box">
                        <div class="item" data-title="上衣 短款 短袖">上衣 短款 短袖
                            <div class="tags"><span>雪纺</span><span>蕾丝</span><span>一字领</span></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="wrapper uc-router">
        <ul>
            <li><a href="index">首页</a></li>
            <li><span class="divider"></span></li>
            <li><span>个人中心</span></li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="uc-main clearfix">
            <div class="uc-aside">
                <div class="uc-menu">
                    <div class="tit">订单中心</div>
                    <ul class="sublist">
                        <li><a href="order" class="active">我的订单</a></li>
                        <li><a href="fav">我的收藏</a></li>
                        <li><a href="footprint">浏览历史</a></li>
                    </ul>
                    <div class="tit">客户服务</div>
                    <ul class="sublist">
                        <li><a href="reorder">取消订单记录</a></li>
                        <li><a href="refund">退款/退货</a></li>
                    </ul>
                    <div class="tit">账户中心</div>
                    <ul class="sublist">
                        <li><a href="account">账户信息</a></li>
                        <li><a href="safe">账户安全</a></li>
                        <li><a href="history">消费记录</a></li>
                        <li><a href="address">收货地址</a></li>
                    </ul>
                    <div class="tit">消息中心</div>
                    <ul class="sublist">
                        <li><a href="evaluate">商品评价</a></li>
                        <!-- <li><a href="msg">站内消息</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="uc-content">
                <div class="uc-panel">
                    <div class="uc-bigtit">我的订单</div>
                    <div class="uc-panel-bd">
                        <div class="uc-sort">
                            <div class="uc-tabs">
                                <a class="item active" href="order">所有订单</a>
                                <a class="item" href="order_nopay">代付款</a>
                                <!-- <a class="item" href="order_nosend">待发货</a> -->
                                <a class="item" href="order_nosave">待收货</a>
                                <a class="item" href="order_nochat">待评价</a>
                            </div>
                            <div class="uc-search">
                                <form action="">
                                    <input type="text" class="sch-input" placeholder="输入商品名称,订单号，商品编号" />
                                    <button class="sch-btn"><i class="iconfont icon-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <table class="uc-table">
                            <thead>
                                <td>
                                    </th>
                                    <th></th>
                                    <th></th>
                                    <th width="120"></th>
                            </thead>
                            {foreach $order as $value}
                            <tr class="hd order-meta">
                                <td colspan="4">
                                    <div class="left">{$value['create_time']} 订单号: {$value['order_code']}</div>
                                    <div class="right">
                                        <!-- 店铺：<a href="">小米旗舰店</a> --><a href="orderdel_real?order_id={$value['order_id']}"><span class="del iconfont icon-shanchu"></span></a></div>
                                </td>
                            </tr>
                            <tr class="order-goods">
                                <td>
                                    <div class="goods-info">
                                        <img class="figure" src="{$value['photo']}" alt="" />
                                        {if $value['refund'] == null}
                                        <!-- 跳到一个方法里边 根据id退货 -->
                                        <a class="text-info refund" href="refundgoods?order_id={$value['order_id']}">申请退货</a>
                                        {else}
                                        <a class="text-info refund">请耐心等待</a>
                                        {/if}
                                        <div class="info">
                                            <div><a href="fourth?goods_id={$value['goods_id']}">{$value['order_name']} 五彩换 黑色 S</a></div>
                                            <div>{$value['price']}元×{$value['order_num']}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    金额：<span class="text-theme fwb">{$value['price']*$value['order_num']}</span>
                                </td>
                                {if $value['acept'] == null && $value['status'] == 1}
                                <td>
                                    <!-- 跳到物流页 根据id显示快递 -->
                                    <a class="text-info" href="ems?ems_id={$value['code']}">查看物流</a>
                                </td>
                                <td>
                                    <a href="acept?order_id={$value['order_id']}" class="ui-btn-theme uc-btn-md">确认收货</a> 
                                </td>
                                {elseif $value['status'] == 0}
                                <td>
                                    <a href="secendPay?order_id={$value['order_id']}" class="ui-btn-theme uc-btn-md">去付款</a> 
                                </td>
                                {else}
                                    <td>
                                        <!-- 跳到物流页 根据id显示快递 -->
                                        <span class="status">快件已签收</span>
                                        <br />
                                    </td>
                                    <td>
                                        {if $value['comments'] == null}
                                        <a href="comments?goods_id={$value['goods_id']}&order_id={$value['order_id']}" class="ui-btn-theme uc-btn-md">商品评价</a> {else}
                                        <a href="comments?goods_id={$value['goods_id']}&order_id={$value['order_id']}" class="ui-btn-theme uc-btn-md">追加评价</a> {/if} {/if}
                                    </td>
                            </tr>
                            {/foreach}
                        </table>
                        <div class="page" style="float: left;margin-left: 330px;">
                            {$info->render()}
                        </div>
                        <!-- <div class="ta-c">
                            <ul class="pagination">
                                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                             </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--脚部-->
    <div class="fatfooter">
    </div>
    <!--脚部-->
</body>
<script src="__JS_PATH__/jquery1.js"></script>
<link rel="stylesheet" href="__CSS_PATH__/style1.css" />
<script src="__JS_PATH__/icheck.min.js"></script>
<script src="__JS_PATH__/global.js"></script>
<script>
</script>

</html>